name: "Run TODO to Issue"
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      MANUAL_COMMIT_REF:
        description: "The SHA of the commit to get the diff for"
        required: true
      MANUAL_BASE_REF:
        description: "By default, the commit entered above is compared to the one directly before it; to go back further, enter an earlier SHA here"
        required: false
jobs:
  build:
    runs-on: "ubuntu-latest"
    if: github.actor != 'github-actions[bot]'
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: "actions/checkout@v4"

      - name: "TODO to Issue (push)"
        if: github.event_name == 'push'
        uses: "alstr/todo-to-issue-action@v5"
        with:
          AUTO_ASSIGN: "true"
          INSERT_ISSUE_URLS: "true"
          CLOSE_ISSUES: "true"

      - name: "TODO to Issue (manual)"
        if: github.event_name == 'workflow_dispatch'
        uses: "alstr/todo-to-issue-action@v5"
        env:
          # If blank, default to the ref/branch selected when triggering the workflow.
          MANUAL_COMMIT_REF: ${{ inputs.MANUAL_COMMIT_REF || github.sha }}
          MANUAL_BASE_REF: ${{ inputs.MANUAL_BASE_REF }}
        with:
          AUTO_ASSIGN: "true"
          INSERT_ISSUE_URLS: "true"
          CLOSE_ISSUES: "true"
      - name: Set Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Commit and Push Changes
        run: |
          git add -A
          if [[ `git status --porcelain` ]]; then
            git commit -m "Automatically added GitHub issue links to TODOs"
            git push origin main
          else
            echo "No changes to commit"
          fi
